

.App footer {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.App footer a {
  color: rgb(80, 175, 192);
  text-decoration: none;
}

.App footer a:hover {
  color: rgb(165, 172, 156);
  text-decoration: underline;
}