.Weather {
  background-image: url("https://images.unsplash.com/photo-1598852722935-3967a8067db3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80");
  max-width: 500px;
  min-height: 400px;
  display: block;
  margin: 10px auto;
  border-radius: 10px 70px 10px 70px;
}

.Weather .conditions li {
  font-size: 13px;

  text-align: left;
}

.Weather .overview {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather h1 {
  font-size: 27px;
}

.Weather .temp {
  font-weight: bold;
  font-size: 38px;
  position: relative;
  top: 9px;
}

.Weather img {
  padding:  8px;
  width: 75px;
  height: 75px;
  margin: 0;
}

.Weather form {
  padding: 18px;
  display: flex;
}

.Weather input {
  max-width: 330px;
  margin-right: 10px;
}

.Weather .btn {
  border: 1px solid rgb(5, 174, 204);
  border-radius: 4px 20px 4px 20px;
  background: rgb(5, 174, 204);
}

.Weather .btn:hover {
  color: rgb(5, 174, 204);
  background: rgb(216, 243, 243);
}

.Weather .unit {
  margin: 5px;
  position: relative;
  bottom: 5px;
  font-size: 18px;
}
